<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Grade</title>
<style type="text/css">

</style>
<script type="text/javascript">
	function submit_scores(f) {
		var name = f.name.value;
		var kor = f.kor.value;
		var eng = f.eng.value;
		var math = f.math.value;
		if (name == ''){
			alert("이름을 입력하세요.");
			f.name.focus;
			return;
		}
		if (kor == ''){
			alert("국어 성적을 입력하세요.");
			f.kor.focus;
			return;
		}
		if (eng == ''){
			alert("영어 성적을 입력하세요.");
			f.eng.focus;
			return;
		}
		if (math == ''){
			alert("수학 성적을 입력하세요.");
			f.math.focus;
			return;
		}
		f.action = "/01_servlet/Ex08_1";
		f.submit();
	}
</script>
</head>
<body>
<form method="post" onsubmit="submit_scores(this.form)">
        <fieldset>
            <legend> 성적 입력 </legend>
            <p>이름 : <input type="text" name="name"></p>
            <p>국어 : <input type="number" name="kor"></p>
            <p>영어 : <input type="number" name="eng"></p>
            <p>수학 : <input type="number" name="math"></p>
            <input type="submit" value="결과보기">
            <input type="reset" value="취소">
        </fieldset>
    </form>
</body>
</html>